.menuContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 275px;
  height: 100vh;
  background-color: #1d1d1d;
  border-left: 1px solid rgba(21, 21, 21, 0.2);
  overflow-y: scroll;
  overflow-x: auto;
  z-index: 2;
}

.backgroundContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.container {
  display: flex;
  padding-bottom: 5px;
}

.headerContainer {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 5px;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
}

.section {
  padding: 84px 10px 0 10px;
}

.aboutHeader {
  text-align: right;
  align-items: right;
  justify-content: center;
  margin: 5px 5px 5px 0;
  color: rgba(235, 235, 235, 0.8);
}

.closeButton {
  border: none;
  font-size: 1rem;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

.svg {
  width: 25px;
  height: 25px;
  stroke: rgba(235, 235, 235, 0.6);
  transition: fill 0.3s ease-out;
  will-change: filter;
}

.svg:hover {
  cursor: pointer;
  transition: fill 0.3s ease-out;
  stroke: rgba(235, 235, 235, 1);
  filter: drop-shadow(0 0 4px rgba(202, 202, 202, 0.6));
}

.contentContainer {
  border-top: 1px solid rgba(235, 235, 235, 0.6);
  color: rgba(235, 235, 235, 0.8);
  padding-top: 10px;
  margin: 0;
}

/* add route */

.addRouteForm {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-top: 10px;
  font-size: 0.9rem;
}

.addRouteForm select {
  width: 100%;
  height: 1.5rem;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid rgb(53, 53, 53);
  color: rgba(235, 235, 235, 0.8);
  background-color: rgba(53, 53, 53, 0.9);
  filter: drop-shadow(0 0 0 rgba(229, 229, 229, 0.4));
  transition: all 0.2s ease-out;
}

.addRouteForm select:hover {
  transition: all 0.3s ease-out;
  filter: drop-shadow(0 0 1px rgba(229, 229, 229, 0.8));
}

.addRouteFormLabelContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.addRouteFormButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.addRouteForm button {
  border: 0;
  padding: 5px 10px;
  background-color: rgba(53, 53, 53, 0.9);
  border-radius: 5px;
  font-weight: 500;
  color: rgba(235, 235, 235, 0.7);
  transition: all 0.2s ease-out;
  filter: drop-shadow(0 0 0 rgba(229, 229, 229, 0.4));
}

.addRouteForm button:hover {
  transition: all 0.3s ease-out;
  filter: drop-shadow(0 0 1px rgba(229, 229, 229, 0.8));
}
