.routeContainer {
  width: 95vw;
}

@media screen and (min-width: 840px) {
  .routeContainer {
    width: 90vw;
  }
}

.headerOne {
  color: rgba(235, 235, 235, 0.8);
  margin: 15px 0 15px 0;
}

.sectionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* use single grid track on small screens */
.routeList {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  padding: 0;
  margin: 0;
  max-height: calc(97vh - 129px);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* use two grid tracks on large screens */
@media screen and (min-width: 840px) {
  .routeList {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

.routeList::-webkit-scrollbar {
  display: none;
}

.routeListSingleColumn {
  display: grid;
  width: 100%;
  gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  padding: 0;
  margin: 0;
  max-height: calc(97vh - 129px);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.routeListSingleColumn::-webkit-scrollbar {
  display: none;
}

/* routeListItem */

/* center align a single column */
.routeListItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.routeListItemSingleColumn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

@media screen and (min-width: 840px) {
  /* right align the left column */
  .routeListItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
  }

  /* left align the right column */
  .routeListItem:nth-child(odd) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
  }
}

.routeListItemCard {
  width: 100%;
  max-width: 420px;
  text-align: left;
  font-size: 0.9rem;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0.7rem 0.9rem 0.7rem 0.9rem;
  line-height: 1.2rem;
  background-color: rgba(235, 235, 235, 0.2);
  display: grid;
  grid-template-columns: 1fr 25px;
  grid-template-rows: minmax(2.5rem, auto) minmax(4rem, auto);
}

/* routePoints */

.routePointsContainer {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.routePointsDirection {
  font-weight: 500;
  margin: 0;
}

.routePointsName {
  font-weight: 400;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.arrowSVG {
  width: 25px;
  height: 15px;
  stroke: rgba(235, 235, 235, 0.6);
}

.routePointsFormContainer {
  position: relative;
  padding-right: 7px;
  max-width: 366px;
}

.routePointsLabelContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 5px;
}

.routePointsSelect {
  overflow: hidden;
  flex: 1 1 auto;
  border: 1px solid rgb(53, 53, 53);
  height: 1.5rem;
  border-radius: 5px;
  padding-left: 7px;
  margin-left: 5px;
  color: rgba(235, 235, 235, 0.8);
  background-color: rgba(53, 53, 53, 0.9);
  filter: drop-shadow(0 0 0 rgba(202, 202, 202, 0.4));
  transition: all 0.2s ease-out;
}

.routePointsSelect:hover {
  transition: all 0.3s ease-out;
  filter: drop-shadow(0 0 1px rgba(202, 202, 202, 0.8));
}

.editFormButtonContainer {
  position: absolute;
  top: 60px; /* routePointsFormContainer height */
  right: 0;
  padding-right: 7px; /* VAR: routePointsFormContainer padding-right */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 5px;
  height: 1.5rem;
}

.editFormButtonContainer button {
  border: 0;
  padding: 6px 10px;
  background-color: rgba(53, 53, 53, 0.9);
  border-radius: 5px;
  font-weight: 500;
  color: rgba(235, 235, 235, 0.7);
  transition: all 0.2s ease-out;
  filter: drop-shadow(0 0 0 rgba(202, 202, 202, 0.4));
}

.editFormButtonContainer button:hover {
  transition: all 0.3s ease-out;
  filter: drop-shadow(0 0 1px rgba(202, 202, 202, 0.6));
}

.editFormButtonContainer button > div:hover {
  transition: color 0.3s ease-out;
  color: rgba(235, 235, 235, 0.9);
  filter: drop-shadow(0 0 4px rgba(202, 202, 202, 0.6));
}

/* route-departure-times */

.routeDepartureTimeContainer {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.routeDepartureBg {
  filter: blur(1px);
}

.routeDepartureTimeList {
  list-style-type: decimal;
  list-style-position: inside;
  padding: 0;
}

.routeDepartureTimeItem {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
}

.routeDepartureTimeTitle {
  font-weight: 500;
  margin: 0 0 5px 0;
}

/* routeMenu */

.routeMenuNav {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  position: relative;
}

.routeMenuButton {
  border: none;
  padding: 0;
  font-size: 1rem;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.svg {
  width: 25px;
  height: 25px;
  stroke: rgba(235, 235, 235, 0.6);
  transition: stroke 0.3s ease-out;
  will-change: filter;
  z-index: 1;
}

.svg:hover {
  cursor: pointer;
  transition: stroke 0.3s ease-out;
  stroke: rgba(235, 235, 235, 1);
  filter: drop-shadow(0 0 4px rgba(202, 202, 202, 0.6));
}

.menuContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 30px 6px 10px;
  margin-right: -5px;
  background-color: rgba(53, 53, 53, 0.9);
  border-radius: 5px;
}

.menuContainer ul {
  list-style-type: none;
  padding: 0;
}

.menuContainer li {
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(235, 235, 235, 0.6);
}

.menuContainer li:last-child {
  padding-top: 4px;
  padding-bottom: 0;
  border-bottom: 0;
}

.menuContainer li > button {
  border: none;
  padding-left: 5px;
  background-color: transparent;
  cursor: pointer;
  color: rgba(235, 235, 235, 0.8);
  transition: color 0.3s ease-out;
}

.menuContainer li > button:hover {
  transition: color 0.3s ease-out;
  color: rgba(235, 235, 235, 1);
  filter: drop-shadow(0 0 4px rgba(202, 202, 202, 0.6));
}
